<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>
<body>

  
    <h1 class="main"> My Blogs</h1>
    <form action="/submit" method="POST">
      <input id="text" type="text" name="topic" placeholder="Topic" required><br>
      <input id="content" type="text" name="content" placeholder="Content" required><br>
      <input type="submit" value="OK"><br>
    </form>
    <BR>
       
        <%if(locals.posts){%>
        <% posts.forEach(post => { %>
          <!-- <form action="/send" method="GET">
          <a href="blog.ejs" type="send"><li><%= post.title %> - <%= post.content %> </li> </a>
          </form> -->
          <!-- <form action="/send" method="GET"> -->
            <a href="/send?id=<%= post.id %>" >
                <li><%= post.topic %> </li>
            </a>
            
        <!-- </form> -->

      <% }); }%> 
  
     
     
</body>
</html>